<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul class="right">
        <li><a class="dropdown-button right" href="#!" data-activates="dropdown1">Dropdown1<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button right" href="#!" data-activates="dropdown2">Dropdown2<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li routerLinkActive="active"><a [routerLink]="['']">Home</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/stocks']">Stocks</a></li>
      </ul>
    </div>
  </nav>
</div>
