@import './../../../theme';

.login-container {
  @include color('primary-font');
  @include background-color('primary');
  width: 380px;
  .third-party, .login-form {
    a {
      @include color('secondary-font');
      @include background-color('secondary');
      width: 100%;
      height: 64px;
      line-height: 64px;
      margin-bottom: 6px;
    }
  }
  .signup-or-separator {
    background: none;
    height: 34px;
    position: relative;
    text-align: center;
    .signup-or-separator--text {
      display: inline-block;
      padding: 8px;
      @include background-color('primary');
      font-size: 14px;
      font-weight: bold;
      @include color('primary-font');
    }
    hr {
      margin: -19px auto 10px;
      width: 100%;
    }
  }
  .login-form {
    width: 100%;
    height: 240px;
    input {
      &:focus {
        @include border-color('primary-font');
      }
    }
  }
}
