<div class="login-container">
    <div class="third-party">
        <a class="waves-effect waves-light btn" (click)="onThirdPartyLogin(thirdParties[0])">Google</a>
        <a class="waves-effect waves-light btn" (click)="onThirdPartyLogin(thirdParties[1])">Facebook</a>
        <a class="waves-effect waves-light btn" (click)="onThirdPartyLogin(thirdParties[2])">Twitter</a>
    </div>
    <div class="login-or-separator">
        <span class="separator-text">{{ 'AUTH.OR' | translate }}</span>
        <hr>
    </div>
    <form class="login-form">
        <input #signinId name="email" placeholder="{{ 'AUTH.EMAIL' | translate }}" type="email">
        <input #signinPassword name="password" placeholder="{{ 'AUTH.PASS' | translate }}" type="password">
        <a class="waves-effect waves-light btn" type="submit"
           (click)="onLogin(signinId.value, signinPassword.value)">{{ 'AUTH.LOGIN' | translate }}</a>
    </form>
</div>
