@import './../theme';
.content {
  @include color('primary-font');
  @include background-color('primary');
  width: 100%;
  height: calc(100% - 66px);
  overflow: hidden;
  padding: 12px;
}
#thin-red-line {
  width: 0;
  height: 2px;
  background-color: #F00C01;
}