@import './../theme';
.content-wrapper {
  @include color('primary-font');
  @include background-color('primary');
  width: 100%;
  overflow: hidden;
  padding: 12px;
  flex-grow: 1;
}
#thin-red-line {
  width: 0;
  height: 2px;
  background-color: #C51400;
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}