<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul class="right">
                <!--<a *ngIf="!(authStateA | async)" class="waves-effect waves-light btn"-->
                <!--(click)="onRegister('222@gmail.com', 'admin@123')">{{ 'AUTH.REG' | translate }}</a>-->
                <a *ngIf="!(authStateA | async)" class="waves-effect waves-light btn"
                   (click)="onOpenLoginModal()">{{ 'AUTH.REG' | translate }} / {{ 'AUTH.LOGIN' | translate }}</a>
                <a *ngIf="(authStateA | async)" class="waves-effect waves-light btn" (click)="onLogout()">{{
                    'AUTH.LOGOUT' | translate }}</a>
                <a class="waves-effect waves-light setting-icon" [routerLink]="['/settings']">
                    <i class="material-icons">settings</i>
                </a>
                <li *ngIf="(authStateA | async)">Hello {{ (authStateA | async)?.displayName}}</li>
            </ul>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li routerLinkActive="active"><a [routerLink]="['/home']">{{ 'HEADER.HOME' | translate}}</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/dashboard']">{{ 'HEADER.DASH' | translate}}</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/stocks']">{{ 'HEADER.STOCK' | translate}}</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/formulas']">{{ 'HEADER.FORM' | translate}}</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <fc-login></fc-login>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
    </div>
</div>
<nav md-tab-nav-bar>
    <div class="nav-body">
        <div class="body-left">
            <a md-tab-link
               [routerLink]="['/home']"
               routerLinkActive="active">
                Home
            </a>
            <a md-tab-link
               [routerLink]="['/dashboard']"
               routerLinkActive="active">
                Dash
            </a>
            <a md-tab-link
               [routerLink]="['/stocks']"
               routerLinkActive="active">
                Stocks
            </a>
            <a md-tab-link
               [routerLink]="['/formulas']"
               routerLinkActive="active">
                Formulas
            </a>
        </div>
        <div class="body-right">
            <div class="register">
                <button md-raised-button *ngIf="!(authStateA | async)"
                        (click)="onOpenLoginModal()">
                    {{ 'AUTH.REG' | translate }} / {{ 'AUTH.LOGIN' | translate }}
                </button>
                <button md-raised-button *ngIf="(authStateA | async)"
                        (click)="onLogout()">
                    {{'AUTH.LOGOUT' | translate }}
                </button>
            </div>
            <div class="setting">
                <!--<button md-icon-button [routerLink]="['/settings']"><md-icon>settings</md-icon></button>-->
                <a md-button [routerLink]="['/settings']"><md-icon>settings</md-icon></a>
            </div>
            <!--<button md-raised-button *ngIf="!(authStateA | async)"-->
                    <!--(click)="onOpenLoginModal()">-->
                <!--{{ 'AUTH.REG' | translate }} / {{ 'AUTH.LOGIN' | translate }}-->
            <!--</button>-->
            <!--<button md-raised-button *ngIf="(authStateA | async)"-->
                    <!--(click)="onLogout()">-->
                <!--{{'AUTH.LOGOUT' | translate }}-->
            <!--</button>-->
            <!--<a class="waves-effect waves-light setting-icon" [routerLink]="['/settings']">-->
                <!--<i class="material-icons">settings</i>-->
            <!--</a>-->
            <!--<a md-fab [routerLink]="['/settings']"><md-icon>settings</md-icon></a>-->
            <!--<button md-icon-button [routerLink]="['/settings']"><md-icon>settings</md-icon></button>-->
            <li *ngIf="(authStateA | async)">Hello {{ (authStateA | async)?.displayName}}</li>
        </div>
    </div>
</nav>