<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a data-activates="mobile-side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <a [routerLink]="['/home']" class="brand-logo logo-tab center"></a>
            <ul class="right hide-on-med-and-down">
                <a *ngIf="!(authStateA | async)" class="waves-effect waves-light btn"
                   (click)="onOpenLoginModal()">{{ 'AUTH.REG' | translate }} / {{ 'AUTH.LOGIN' | translate }}</a>
                <a *ngIf="(authStateA | async)" class="waves-effect waves-light btn" (click)="onLogout()">{{
                    'AUTH.LOGOUT' | translate }}</a>
                <a class="waves-effect waves-light setting-icon" [routerLink]="['/settings']">
                    <i class="material-icons">tune</i>
                </a>
                <li *ngIf="(authStateA | async)">Hello {{ (authStateA | async)?.displayName}}</li>
            </ul>
            <ul class="left hide-on-med-and-down">
                <li routerLinkActive="active"><a [routerLink]="['/dashboard']">{{ 'HEADER.DASH' | translate}}</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/stocks']">{{ 'HEADER.STOCK' | translate}}</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/formulas']">{{ 'HEADER.FORM' | translate}}</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="login-modal" class="modal">
    <div class="modal-header">
        <div [@loginBtn]="displayContent"
             (click)="displayContent = 'login'">{{ 'AUTH.LOGIN' | translate }}
        </div>
        <div [@registerBtn]="displayContent"
             (click)="displayContent = 'register'">{{ 'AUTH.REG' | translate }}
        </div>
    </div>
    <div class="modal-content">
        <fc-login
                [@loginDisplay]="displayContent"
        ></fc-login>
        <fc-register
                [@registerDisplay]="displayContent"
        ></fc-register>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close btn-flat">{{ 'BTN.CLO' | translate }}</button>
    </div>
</div>
<ul id="mobile-side-menu" class="side-nav">
    <li><a [routerLink]="['/dashboard']">{{ 'HEADER.DASH' | translate}}</a></li>
    <li><a [routerLink]="['/stocks']">{{ 'HEADER.STOCK' | translate}}</a></li>
    <li><a [routerLink]="['/formulas']">{{ 'HEADER.FORM' | translate}}</a></li>
    <li><a [routerLink]="['/settings']">{{ 'HEADER.PREF' | translate}}</a></li>
    <li class="side-login">
        <a *ngIf="!(authStateA | async)" (click)="onOpenLoginModal()">{{ 'AUTH.REG' | translate }} / {{ 'AUTH.LOGIN' |
            translate }}</a>
        <a *ngIf="(authStateA | async)" (click)="onLogout()">{{'AUTH.LOGOUT' | translate }}</a>
    </li>
</ul>
