@import './../../../theme';

nav {
  @include background-color('secondary');
  ul > li > a {
    @include color('secondary-font');
  }
  ul > a {
    @include color('secondary-font');
    @include background-color('accent');
  }
  > div > ul > a.setting-icon {
    background-color: transparent;
    border-radius: 50%;
    width: 65px;
    text-align: center;
  }
  .logo-tab {
    width: 100px;
    height: 100%;
    background-image: url('/assets/images/view3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 56px;
    opacity: 0.84;
    cursor: pointer;
  }
}
.side-nav {
  @include background-color('primary');
  > li > a {
    @include color('primary-font');
  }
  .side-login {
    @include background-color('accent');
    cursor: pointer;
    > a {
      @include color('secondary-font');
    }
  }
}
#login-modal {
  @include color('primary-font');
  @include background-color('primary');
  height: 100%;
  min-width: 400px;
  .modal-header {
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    padding: 0 24px;
  }
  .modal-content {
    height: calc(100% - 64px - 56px);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
  }
  .modal-footer {
    @include background-color('primary');
    button {
      @include color('secondary-font');
      @include background-color('accent');
    }
  }
}